*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Шрифты */

@font-face {
	font-family: Open Sans;
	src: url("../fonts/OpenSans-Regular.woff") format("woff");	
	font-weight: 400; 
	font-style: normal;
}

@font-face {
	font-family: Open Sans;
	src: url("../fonts/OpenSans-Bold.woff") format("woff");	
	font-weight: 700;
	font-style: bold;
}

body {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    /* max-width: 75rem; */ 
}


/* Шапка сайта*/

.header-main {
    /* width: 100%; */
}

.header-banner {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position-x: center;   
    background-size: cover;  
    background-color: #000;
    position: relative;   
}

.header-banner::before {
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 1;
}

.header-banner h1 {
    position: relative;
    padding-top: 75px;
    padding-bottom: 127px;
    margin: 0 auto;
    max-width: 43rem;
    width: 100%;
    font-style: bold;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.65;
    text-align: center;
    text-transform: uppercase;    
    color: #fff;
    z-index: 2;
    
}

.header-top {   
    position: relative;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 3;
}

.top-list {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Логотип */

.header-logo {
    margin-top: 3px;
    margin-left: 3px;
}

.logo img {
    width: 11rem;
}

/* .mobile-logo {
    width: 0px;
    opacity: 0;
} */

/* Меню */

.mobile-menu {
    display: none;
}

.header-menu {
    display: flex;
    font-size: 13px;
}

.header-menu-list {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}

.header-menu-item {
    margin-left: 35px;
    color: #ffffff;   
    text-align: center;
    text-decoration: none;
}

.header-menu-item:hover {
    text-decoration: underline;
    text-align: center;
}


/* Страница */

.page {
    /* display: flex;
    justify-content: space-between; */
    margin-top: 65px;
    width: 100%; 

}

.page-main {
    box-sizing: border-box;
    margin: 0 auto;
    /* padding: 0 16px; */
}

.main {
    display: flex;
    justify-content:center;
    max-width: 75rem;
    margin: auto;
}

/* Тренды */

.trends-list-title {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    margin-top: -5px;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
}

.trends-list-title::after {
    display: block;
    content: "";
    margin: 13px auto;    
    max-width: 4rem;
    height: 3px;
    background-color: #e1d9bd;
}

.trends {
    display: flex;
    align-items: flex-end;
    /* margin-top: 60px; */
    margin-bottom: 65px; 
}

.trends-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;  
    width: 100%;
}

.trends-list-item {
    display: flex;
    align-items: flex-end;
    min-height: 320px;
    flex-grow: 1;
    width: 100%;
    position: relative;
}


.trends-list-item:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
    opacity: 0.6;
    z-index: 1;
}

.trends-list-item-1 {
    background-image: url(../images/trend1.jpg);
    background-size: cover;
    background-color: #000;
}

.trends-list-item-2 {
    background-image:url(../images/trend2.jpg);
    background-size: cover;
    background-color: #000;
}

.trends-list-item-3 {
    background-image:url(../images/trend3.jpg);
    background-size: cover;
    background-color: #000;
}

.trends-list-item-4 {
    background-image:url(../images/trend4.jpg);
    background-size: cover;
    background-color: #000;
}

.trends-item{
    margin: 35px;
    border: 3px solid #b59f5b;
    padding: 20px;
    z-index: 2;
}

.trends-list-item:nth-child(1n+1) {
    margin-right: 5px;
}

.list-item-tags {
    
}

.trends-tags {
    display: flex;
    font-size: 0.8rem;
    list-style-type: none;
    text-transform: uppercase;   
}

.trends-tag {
    margin-right: 20px;
    font-weight: bold;
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
}

.trends-tag:hover {
    text-decoration: underline;
    text-align: center;
} 

.trends-titles h2 {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 1.2;
}

.trends-title:hover {
    color: #b59f5b;
}

.trends-title {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}


/* Статьи */

.list {
    margin-right: 120px;
    /* max-width: 750px; */
}

.list-item {   
    display: flex;
    align-items: flex-start;
    margin-bottom: 53px; 
}

.list-item:last-child {
    margin-bottom: 0;
}

.item-picture img{
    max-width: 24rem;
    margin-right: 30px;
    object-fit: cover;
    margin-left: -10px;
    width: 100%;
}

.item-post {
    max-width: 23rem;
    margin-top: -5px;    
}

.post-tags {
    display: flex;
    font-size: 0.9rem;
    list-style-type: none;
    text-transform: uppercase;    
}

.post-tag {
    margin-right: 20px;
    font-weight: bold;
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
}

.post-tag:hover {
    text-decoration: underline;
    text-align: center;
} 

.post-titles h2 {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    margin-top: 7px;
    font-size: 1.25rem;
    line-height: 1.2;
}

.post-title {
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.post-title:hover {
    color: #b59f5b;
}

.post-info-about{
    margin: 30px 0px 45px 0px;
    display: flex;
    font-size: 0.75rem;
} 

.post-date {
    padding-right: 12px;
    color: #888888;
    font-weight: 400;
}

.post-author {
    font-weight: 700;
}

.post-content {    
    font-size: 0.93rem;
    line-height: 1.5;
    font-weight: 400;
}

.post-content p {
    margin-bottom: 10px;
}

.right-sidebar {
    max-width: 16.87rem;
    display: flex;    
}

/* Sidebar */

.sidebar {
    /* display: block; */
}

.sidebar-new {
    /* margin-top: -12px; */
}

h3 {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    margin-top: -6px;
    font-size: 0.85rem;
    line-height: 2;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
}

h3::after {
    display: block;
    content: "";
    margin: 4px auto;    
    max-width: 4.125rem;
    height: 3px;
    background-color: #e1d9bd;
}

.new-post-list {
    margin-top: 30px;
    margin-bottom: -10px;
}

.new-post-picture img{   
    min-width: 4,375rem;
    height: 70px;
    background: #f4f7f6;        
}

.new-post {    
    display: flex;
    margin-bottom: 17px;
}

.new-post-info {
    min-width: 12,5rem;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    padding-left: 19px;    
}

.new-post-date {
    font-size: 0.75rem;
    color: #888888;
    margin-bottom: 2px;    
}

.new-post-info a {
    display: flex;
    font-size: 0.85rem;
    line-height: 1.5;    
    font-weight: bold;
    align-items: flex-start;
}

.new-post-title {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.2;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.new-post-title:hover {
    color: #b59f5b;
}


/* Формы */

.form-connection {
    position: relative;
    min-width: 16.875rem;
    margin: 0 auto;
}

.form-connection {
    margin-top: 65px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.form-search input {
    font-size: 13px;
    line-height: 3;
    font-weight: 400;
    width: 100%;
    height: 48px;
    padding-left: 15px;
    padding-right: 63px;
    border: none;
    outline: none;
    background-color: #f4f7f6;
    color: #000000;
    box-sizing: border-box;
}

.form-search button {
    position: absolute; 
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;
    background: #b59f5b;
    cursor: pointer;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    
}

.form-search button:hover,
.form-group button:hover {
    background-color: #323232;
}

.form-group input {
    font-size: 0.812rem;
    line-height: 3;
    font-weight: 400;
    width: 100%;
    height: 48px;
    margin-bottom: -5px;
    padding-left: 17px;
    padding-right: 15px;
    border: none;
    outline: none;
    background-color: #f4f7f6;
    color: #000000;
    box-sizing: border-box;
}

.form-group input:hover {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
}

.form-group button {
    margin-top: 25px;
    top: 135px;
    right: 0;
    width: 100%;
    height: 48px;
    border: none;
    background: #b59f5b;
    cursor: pointer;
    
    background-repeat: no-repeat;
    background-position: center;
    
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    
}

/* Теги и темы */

.sidebar-tags {
    margin-top: 55px;
}

.sidebar-tag {
    display: flex;
}

.sidebar-tag  li {
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.sidebar-tag  a {
    text-align: center;
    text-transform: uppercase;
    padding: 4px 14px;    
    font-size: 0.75rem;    
    text-decoration: none;   
    font-weight: 700;
    color: #000000;
    border: 3px solid #eeeeee;
}

.sidebar-tag  a:hover {
    background-color: rgba(244,243,241,0);
    border: 3px solid #b59f5b;
}

.topics-list li {    
    list-style-type: none;
    border-bottom: 1px solid #eeeeee;
}

.sidebar-topics {
    margin-top: 60px;
}

.sidebar-topics h3{
    
}

.topics-list {
    margin-top: -15px;
}

.topics-list a {
    display: flex;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    line-height: 47px;

}

.topics-list li span {
    margin-left: 5px;
    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;;
    margin-bottom: 10px;
}

.topics-list a:hover {
    color: #b59f5b;
}

/* Наши изделия */

.products-list-title {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 2;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-top: 45px;
    margin-bottom: 25px;

}

.products-list-title::after {
    display: block;
    content: "";
    margin: 4px auto;    
    max-width: 4.125rem;
    height: 3px;
    background-color: #e1d9bd;
}

.products {
    max-width: 75rem;
    margin: auto;

}

.products-list {
    display: flex;
    
}

.products-list-item:nth-child(1n+1) {
    margin-right: 45px;
}

.products-list-item {
    flex: 1 0 350px;
    margin-left: 15px;
}

.products-item {
    position: relative;
    z-index: 2;
    border: 3px solid #b59f5b; 
    min-height: 265px; 
    margin-top: -30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.products-picture {
    display: flex;
    justify-content: center;
    z-index: 0;
}

.products-titles {
    margin-top: 10px;
    padding-bottom: 5px;
}

.products-title {
    font-weight: bold;
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
}

.products-title:hover {
    
}

.products-content {
    font-size: 0.937rem;
}

.products-content a {
    color: #b59f5b;
    text-decoration: none;
}

.products-content a:hover {
    text-decoration:underline;
}

.products-info {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.products-info-about {
    text-transform: uppercase;
    font-size: 1.125rem;
}

.products-price-old {
    text-decoration: line-through;
    font-size: 14px;
    padding-top: 5px;
}

.products-price {
    margin-top: -6px;
    font-size: 1.25rem;
}

.price {
    position: relative;
    font-weight: bold;
}

.button-shop {
    display: flex;
    align-items: flex-end;
}

.button-shop button {
    top: 135px;
    right: 0;
    min-width: 8.75rem;
    min-height: 48px;
    border: none;
    background: #b59f5b;
    cursor: pointer;
    
    background-repeat: no-repeat;
    background-position: center;
    
    font-weight: 700;
    font-size: 0.875rem;
    color: #ffffff;
    text-transform: uppercase;
}

.button-shop button:hover {
    background-color: #323232;
}

/* Footer */

.social-icons {
    display: block;
    
	background-repeat: no-repeat;
	background-position: center center;
    
}

footer {
    padding-top: 63px;
    display: block;  
    max-width: 75rem; 
    margin: auto;
}

.social-icons {
    /* width: 100%; */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
    vertical-align: middle;
    text-align: center;
    background-color: #f4f7f6;
    
}

.social-icons ul{
    display: block;
}

.social-icons li {
    width: 25px;
    line-height: 1;
    margin-right: 18px;
    display: inline-block;
    list-style-type: none;
}

.social-icons span {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);  
}

.social-icon-twitter {
    background-image: url("../svg/004-twitter.svg");
}

.social-icon-pinterest {   
    background-image: url("../svg/001-pinterest.svg");
}

.social-icon-facebook {
    background-image: url("../svg/002-facebook-logo.svg");    
}

.social-icon-instagram {
    background-image: url("../svg/005-instagram.svg");    
}

.social-icon-tumblr {    
    background-image: url("../svg/003-tumblr.svg");
}

.footer-copyring {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 35px;
    margin-left: 10px;
    padding-top: 68px;
}

.footer-copyring a {
    display: flex;    
    font-family: "Open Sans", Arial, Helvetica, sans-serif;    
    font-size: 0.75rem;    
    font-weight: 700;
    color: #999999;
    text-decoration: none;
}

/* Popup */

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.popup_hidden {
    display: none;  /* скрыть/показать popup */
}

.popup-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-form-block {
    background-color: #fff;
    min-height: 590px;
    max-width: 390px;
    width: 100%;
    position: relative;
}

.popup-title {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-top: 40px;
    margin-bottom: 25px;
}

.popup-title::after {
    display: block;
    content: "";
    margin: 3px auto;    
    max-width: 4.125rem;
    height: 3px;
    background-color: #e1d9bd;
}

.popup-form-feedback {
    margin-left: 30px;
    margin-right: 30px;
}

.popup-select:hover {
    outline-style: solid;
    outline-color: #b59f5b;
    outline-width: 1px;
    /* box-shadow: 0px 1px rgba(181, 159, 91, 1); */
}

.popup-select {
    -webkit-appearance: none;
	-moz-appearance: none;

	width: 100%;
	height: 45px;
	
	padding-left: 17px;
    background-color: #f4f7f6;

    border: none;

    margin-bottom: 15px;

	font-family: inherit;
	font-size: 0.812rem;
	color: #333333;

    background-image: url("../svg/form-arrows.svg");
	background-repeat: no-repeat;
	background-position: right 12px  center;
    background-size: 10px;
}

.popup-label {
    font-size: 0.937rem;
    width: 100%;
}

.popup-text {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 0.812rem;
    margin-right: 10px;

}

.pupup-radio {
   
}

.popup-radio-group {
    margin-top: -5px;
    margin-bottom: 30px;
}
.poput-radio-label {
   
}

.radio-group-text {
    margin-right: 10px;
    font-size: 0.75rem;
    

}

.radio-group-text::before {
    content: "";
	display: inline-block;
	
	width: 17px;
	height: 17px;

	background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-position: center  center;
	background-size: 17px;

    display: inline-block;
    vertical-align: middle;

    padding-right: 5px;    
}

.popup-radio:checked ~ .radio-group-text::before {
	background-image: url("../svg/form-circle.svg");
}

.popup-radio {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px; 
	width: 1px; 
}

.popup-textarea {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    min-height: 130px;
    width: 100%;
    max-width: 20,62rem;
    margin-top: -5px;
    font-style: inherit;
    font-size: 0.812rem;
    padding-top: 20px;
    padding-left: 20px;
    resize: none;
    background-color: #f4f7f6;
    border: none;
}

.popup-textarea:hover {
    outline-style: solid;
    outline-color: #b59f5b;
    outline-width: 1px; 
    /* box-shadow: 0px 1px rgba(181, 159, 91, 1); */
}   

.popup-button {
    width: 100%;

}

.popup-button button {
    top: 135px;
    right: 0;
    width: 100%;
    min-width: 8.75rem;
    min-height: 50px;
    border: none;
    background: #b59f5b;
    cursor: pointer;
    
    background-repeat: no-repeat;
    background-position: center;
    
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;

    margin-top: 23px;

}

.popup-button button:hover {
    background-color: #323232;
}

.popup-close {
    position: absolute; 
    top: -40px;
    left: 92%;
    width: 3rem;
    height: 3rem;
    border: none;
    /* background: #b59f5b; */
    cursor: pointer;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;

}


/* Tablet <641-1199px */

@media (min-width:641px) and (max-width:1199px) {

    /* Логотип */

    .header-logo {
        margin-top: 20px;
        margin-left: 19px;
    }
    
    .logo img {
        width: 10rem;
    }
    
    /* Бургер-меню */

    .header-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;

        margin-right: 19px;
        margin-top: 18px;

        background-image: url("../images/Btn-Close.png");
        background-repeat: no-repeat;
        background-position-x: center;   
        background-size: cover;  
        width: 22px;
        height: 22px;   
    }

    .menu-button-label {
        visibility: hidden;
    }

    /* Баннер */

    .header-banner {
    background-image: url("../images/banner-bg-tablet.jpg");
    max-height: 395px;
    margin-bottom: -20px;
    }

    .header-banner h1 {
        font-size: 2.5rem;
        max-width: 650px;
        margin-top: -20px;
        line-height: 1.5;
    }

    /* Тренды */

    .trends-list-title {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    .trends-list {
    display: flex;
    flex-wrap: wrap;
    }

    .trends-list-item {
        width: 45%;
        margin-bottom: 5px;
        min-height: 245px;
    }

    .trends-list-item:nth-child(2n+2) {
        margin-right: 0px;
    }

    .trends-item {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 15px;        
    }

    .trends-tags {
        font-size: 0.9rem; 
        padding-left: 10px; 
        margin-top: 10px;
        margin-bottom: -10px;
        /* padding-top: 30px; */
    }
    
    .trends-tag {
        /* margin-right: 20px;
        font-weight: bold;
        color: #b59f5b;
        text-decoration: none;
        text-transform: uppercase; */
    }
    
    .trends-tag:hover {
        /* text-decoration: underline;
        text-align: center; */
    } 
    
    .trends-titles h2 {
        font-size: 1.1rem;
        padding-bottom: 10px;
    }

    /* Статьи */

    .list-item {
        display: flex;
        flex-wrap: wrap;
    }

    .list {
        margin-left: 45px;
        margin-top: -20px;
        margin-right: 0px;
    }

    .item-post {
        margin-left: -12px;
        margin-top: -8px;
        margin-bottom: 0px;
    }

    .post-title {
        font-size: 1.05rem;
    }

    .post-tags-list {
        padding-top: 15px;
    }

    .item-picture img {
        /* margin-right: 0px; */
        width: 100%;
        max-width: 24.5rem;
    }

    .post-content {
        margin-top: -18px;
        font-size: 0.90em;
    }

    /* Sidebar */

    .sidebar {
        margin-right: 30px;
        margin-left: -35px;
        margin-top: -20px;
    }    

    /* Форма поиска */

    .form-connection {
        margin-top: 67px;
    }

    .form-search button {
        margin-right: 5px;
    }

    /* Рассылка */

    .form-connection {
        margin-top: 65px;
        margin-right: 5px;
    }

    .form-connection h3 {
        margin-top: -7px;
        margin-left: -10px;
    }

    /* Наши изделия */

    .products {
        margin-bottom: -65px;
    }

    .products-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
    }

    .products-list-item {
        width: 45%;
        flex: 0 0 auto;
        margin-bottom: 30px;
    }

    .products-list-item:nth-child(1n+1) {
        margin-right: 10px;
}

    .products-list-title {
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    .products-item {
        margin-top: -40px;
    }

    .products-title {
        font-size: 1.1rem;
        margin-left: -4px;
    }

    /* Footer */

    .footer-copyring {
        margin-top: -25px;
    }

}


/* Mobile 640< */

@media (max-width:640px) {


    /* Логотип */

    .top-list {
        display: flex;
        flex-direction: column-reverse;
    }

    .header-logo {
        margin-top: 175px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo img {
        width: 85%;
        margin-left: 25px;
    }
    
     /* Бургер-меню */

    .header-menu {
        display: none;
    }

    .mobile-menu {
        padding: 0;
        display: flex;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;

        margin-right: 3px;
        margin-top: 5px;

        background-image: url("../images/Btn-Close.png");
        background-repeat: no-repeat;
        background-position-x: center;   
        background-size: cover;  
        width: 20px;
        height: 20px; 
        
        align-self: end;
    }

    .menu-button-label {
        visibility: hidden;
    }

    /* Баннер */

    .header-banner {
    background-image: url("../images/banner-mobile.jpg");
    min-height: 638px;
    }

    .header-banner h1 {
        font-size: 1.65rem;
        max-width: 650px;
        margin-top: -75px;
        line-height: 1.4;
    }

    /* Страница */

    .page {
        margin-top: 48px;
        /* width: 100%;  */
    
    }


    /* Тренды */

    .trends-list-title {
        font-size: 1rem;
    }

    .trends-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -4px;
    }

    .trends-list-item {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0px;
        min-height: 230px;
        max-height: 240px;
    }

    .trends-list-item:nth-child(n+1) {
        margin-right: 0px;
    }

    .trends-item {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 15px;  
        min-height: 100px;      
    }

    .trends-tags {
        font-size: 0.9rem; 
        padding-left: 0px; 
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .trends-titles h2 {
        font-size: 1rem;
        padding-bottom: 10px;
    }


    /* Статьи */

    .main {
        display: block;
        flex-direction: column;
    }

    .list-item {
        display: flex;
        flex-wrap: wrap;
    }

    .list {
        margin-left: 25px;
        margin-top: -30px;
        margin-right: 5px;
    }

    .item-post {
        margin-left: -12px;
        margin-top: -8px;
        margin-bottom: 0px;
    }

    .item-post::after {
        display: block;
        content: "";
        margin-top: 23px; 
        margin-right: 15px;   
        max-width: 100%;
        height: 3px;
        background-color: #e1d9bd;
        margin-bottom: -20px;
    }

    .post-title {
        font-size: 1rem;
        max-width: 20px;
    }

    .post-titles h2 {
        line-height: 1rem;
        max-width: 320px;
    }

    .post-tags-list {
        padding-top: 15px;
    }
    
    .item-picture img {
        width: 100%;
        max-width: 24.5rem;
        margin-right: 0px;
    }

    .post-info-about{
        margin-top: 20px;
    } 

    .post-content {
        margin-top: -30px;
        line-height: 1.2rem;
    }

    /* Sidebar */

    .sidebar {
        margin-top: 60px;
        margin-right: 50px;
        margin-left: 15px;
        min-width: 330px;
    }    

    .sidebar h3 {
        font-size: 1rem;
    }

    .new-post {    
        margin-bottom: 16px;
        min-width: 350px;
    }

    /* Формы */

    .form-connection h3 {
        margin-top: -27px;
    }

    /* Теги */

    .sidebar-tags {
        margin-top: 40px;
        min-width: 335px;
    }

    .sidebar-tag  li {
        margin-right: 0px;
    }

    /* Темы */

    .sidebar-topics {
        margin-top: 35px;
    }


    /* Наши изделия */

    .products-list-title {
        font-size: 1rem;
        margin-top: 30px;
    }

    .products {
        margin-top: 30px;
        margin-right: 30px;
    }

    .products-list {
        display: flex;
        flex-wrap: wrap;
        
    }

    .products-list-item {
        width: 100%;
        flex: 0 0 auto;
        margin-bottom: 50px;
    }

    .products-list-item:nth-child(1n+1) {
        margin-right: 10px;
}

    .products-list-title {
        font-size: 1rem;
        margin-bottom: 30px;
}

    .products-item {
        margin-top: -40px;
        min-height: 220px;
        /* max-height: 260px; */
        margin-bottom: -20px;
        padding-top: 32px;
}


    .products-title {
        font-size: 1.1rem;
        margin-left: -4px;
}

.products-info {
    margin-bottom: 20px;
}

 /* Footer */

footer address {
    margin-top: -48px;
    margin-bottom: -20px;
}

.popup-form-block {
    margin-left: 14px;
    margin-right: 20px;
    min-height: 545px;
    margin-top: 25px;
}
.popup-title {
    font-size: 1rem;
    margin-top: 20px;
}

.popup-form-feedback {
    margin-left: 25px;
}

.popup-radio-group {
    margin-top: 5px;
    margin-bottom: 25px;
}

.radio-group-text {
    margin-right: 30px;
}

.radio-group-text::before {
    content: "";
	display: inline-block;
	
	width: 25px;
	height: 25px;

	background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-position: center  center;
	background-size: 25px;

    display: inline-block;
    vertical-align: middle;

    padding-right: 5px;    
}

.popup-close {
    position: absolute; 
    top: -35px;
    left: 92%;
    width: 27px;
    height: 27px;
    border: none;
    /* background: #b59f5b; */
    cursor: pointer;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: center;

}

}
